/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT:#F1FAEE 
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Happy Monkey', serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100px;
}

.hero {
  background-image: url('images/chitwan.jpg');
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#hero-heading {
  color: #f1faee;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: #1d3557;
  max-width: 400px;
  margin: 10px auto;
}

#hero-desc {
  color: #f1faee;
  max-width: 800px;
  margin: 0 auto;
  background-color: #457b9d;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 14px;
}

.activities {
  background-color: #f1faee;
  background-size: cover;
  background-position: center;
  height: auto; /* Adjust the height to fit content */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  padding: 40px 20px; /* Space around the content */
  margin-top: 0;
}

.activities img {
  width: 150px; /* Adjust image size */
  height: 150px;
  margin: 15px auto; /* Add margin to space out the images vertically */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensure image covers the circle */
}
