/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT:#F1FAEE 
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Happy Monkey', serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100px;
}

.hero {
  background-image: url('images/chitwan.jpg');
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#hero-heading {
  color: #f1faee;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: #1d3557;
  max-width: 400px;
  margin: 10px auto;
}

#hero-desc {
  color: #f1faee;
  max-width: 800px;
  margin: 0 auto;
  background-color: #457b9d;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 14px;
}
#heading-activities {
  font-size: 20px;
  font-weight: 600;
}

.activities {
  background-color: #f1faee;
  height: auto; /* Adjust the height to fit content */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.activities img {
  width: 150px; /* Adjust image size */
  height: 150px;
  margin: 15px auto; /* Add margin to space out the images vertically */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensure image covers the circle */
}
.activity-heading {
  font-size: 16px;
  font-weight: 700;
}
.activity-text {
  font-size: 14px;
}

.guide {
  background-color: #a8dadc;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 32px 8px;
  border-radius: 8px;
  border-bottom: 8px solid #1d3557;
}

.guide img {
  width: 450px;
  height: 350px;
  border-radius: 10px; /* Slightly rounded corners */
  object-fit: cover; /* Maintain aspect ratio */
}

.guide-content {
  text-align: left; /* Align text to the left for a professional look */
  max-width: 400px; /* Limit text width */
}
.guide h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1d3557; /* Dark blue for emphasis */
  margin-bottom: 10px; /* Space below heading */
  text-align: center;
}
.guide p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}
.guide h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1d3557; /* Match heading color */
  margin-top: 10px; /* Space above name */
}
